:root {
  --dark-blue: rgb(0, 0, 70);
  --sky-blue: rgb(28, 181, 224);
  --bg-grad: linear-gradient(119.54deg, var(--dark-blue) 0%, var(--sky-blue) 100%);
  --bg-img-grad: linear-gradient(119.54deg, var(--dark-blue) 0%, var(--sky-blue) 100%);
  --black: #0A243F;
  --light-grey: #6B7B8A;
  --success-green: #00C851;
}

header {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  font-size: 1.5em;
  font-weight: 600;
  color: var(--black);
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.card {
  cursor: pointer;
  position: relative;
  max-width: 280px;
  border: 1px solid #ccc;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.card-line {
  background: var(--bg-grad);
  margin-right: -1.05rem;
  margin-left: -1rem;
  margin-top: -0.6rem;
  height: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-body {
  color: var(--light-grey);
  font-size: 0.8em;
}

.login-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 280px;
  width: 100%;
  border: 1px solid #ccc;
  padding: 1rem;
  padding-top: 0;
  border-radius: 8px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
}

.m-4 {
  margin: 1rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mt-8 {
  margin-top: 2rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-8 {
  margin-bottom: 2rem;
}

.color-black {
  color: var(--black);
}

input {
  border: none;
  outline: none;
  padding: 0.2rem 0.2rem;
  border-bottom: 1px solid #ccc;
  font-size: 1.15em;
  color: var(--black);
  width: 95%;
}

input:focus {
  border-bottom: 1px solid var(--light-grey);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.btn {
  border: none;
  outline: none;
  border-radius: 4px;
  padding: 0.6em;
  width: 100%;
  font-size: 1em;
}

.btn-gradient {
  cursor: pointer;
  background: var(--bg-grad);
  color: white;
}

.stepper-container {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  width: 280px;
}

.stepper-line {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 2px;
  background: var(--light-grey);
}

.stepper-step {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  text-align: center;
  background: var(--sky-blue);
  border-radius: 50%;
}

.step-completed {
  background: var(--success-green);
}

.bank-option {
  width: 100%;
  text-align: center;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 10px;
}

.bank-option:hover {
  background: lightblue;
}

.justify-start {
  justify-content: flex-start;
}

.files {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  width: 100%;
}

.file {
  /* max-width: 512px; */
  padding: 1em;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 12px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

footer {
  background: var(--dark-blue);
  padding: 0.6rem;
  font-size: 0.8em;
  margin-top: auto;
  color: white;
}
